{% extends "topnav.html" %}

{% block content%}

<div class="aboutus">
	<div class="contentArea aboutUs">
      <div class="container">
        <div class="row-fluid">
          <h1>数学系介绍</h1>
          <hr/>
          <div class="aboutUsImg"><img src="/static/img/aboutUs/Layer26(merged).png"/></div>
		  {% for i in aboutus_list %}
		  <p>{{i.text}}</p>
		  {% endfor %}
          </div>
      </div>
    </div>
</div>

{% endblock %}
