{% extends "topnav.html" %}

{% block content%}

<div class="academic">
	<div class="annoucements">
      <div class="container">
        <h2>学术讲座</h2>
        <div id="datetimepicker1" class="input-group date pull-right">
          <input class="form-control"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <hr class="first">
        <div class="annouce-list">
		{% for i in lecture_list %}
          <div class="item">
            <p><span class="date">{{i.date}}</span></p>
            <p>{{i.adress}}</p>
            <p> <a href="http://{{i.url}}">{{i.title}}</a></p>
            <p>{{i.lecturer}}</p>
          </div>
          <hr />
		{% endfor %}
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
      $('#datetimepicker1').datepicker({
        format: "yyyy年mm月",
        weekStart: 0,
        startView: 1,
        minViewMode: 1,
        todayBtn: "linked",
        clearBtn: true,
        autoclose: true,
        orientation: "bottom auto",
        language: "zh-CN"
      });
    });
</script>

{% endblock %}
