{% extends "topnav.html" %}

{% block content%}

<div class="contact"> 
 <script type="text/javascript" src="http://api.map.baidu.com/api?key=&amp;v=1.1&amp;services=true"></script>
   <div class="contentArea contact">
      <div class="container">
        <div class="row-fluid">
          <h1>联系方式</h1>
          <hr class="first"/>
          <p>地址：深圳市南山区西丽学苑大道1088号南方科技大学科教服务中心707</p>
          <hr/>
          <p>邮政编码：518055</p>
          <hr/>
          <p>电话：+86-755-88018719 曲媛老师</p>
          <hr/>
          <p>地铁：塘朗站，从C出口出，步行500米即到学校正门</p>
          <hr/>
          <p>公交车：南方科技大学站，路线：M369，43，74，81</p>
          <div id="dituContent"></div>
          <script type="text/javascript">
            //创建和初始化地图函数：
            function initMap(){
              createMap();//创建地图
              setMapEvent();//设置地图事件
              addMapControl();//向地图添加控件
              addPolyline();//向地图中添加线
            }
            //创建地图函数：
            function createMap(){
              var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
              var point = new BMap.Point(114.005786,22.603975);//定义一个中心点坐标
              map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
              window.map = map;//将map变量存储在全局
              $(".anchorBL").find("a").attr("href","http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E5%8D%97%E6%96%B9%E7%A7%91%E6%8A%80%E5%A4%A7%E5%AD%A6");
              //http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E5%8D%97%E6%96%B9%E7%A7%91%E6%8A%80%E5%A4%A7%E5%AD%A6
              $(".anchorBL").after("<div class='ripple'>&#12288;</div>");
            }
            //地图事件设置函数：
            function setMapEvent(){
              map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
              map.enableScrollWheelZoom();//启用地图滚轮放大缩小
              map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
              map.enableKeyboard();//启用键盘上下左右键移动地图
            }
            //地图控件添加函数：
            function addMapControl(){
              //向地图中添加缩放控件
              var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
              map.addControl(ctrl_nav);
              //向地图中添加缩略图控件
              var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:0});
              map.addControl(ctrl_ove);
              //向地图中添加比例尺控件
              var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
              map.addControl(ctrl_sca);
            }
            //标注线数组
            var plPoints = [{style:"solid",weight:3,color:"#00f",opacity:0.4,points:["114.012092|22.602607","114.010619|22.603909","114.010403|22.604109","114.010295|22.604309","114.010223|22.604693","114.010169|22.605026","114.009864|22.60536","114.009756|22.605443","114.009577|22.605961","114.009469|22.606311","114.009451|22.606578","114.009379|22.606845","114.009038|22.607278","114.008876|22.607629","114.008858|22.607896","114.008894|22.608379","114.008912|22.608696","114.009774|22.609414","114.00902|22.60918","114.007187|22.609781","114.006864|22.609814","114.006361|22.609747","114.005893|22.609547","114.004995|22.609013","114.003738|22.60868","114.001869|22.60848","114.001186|22.60848","114.00151|22.606378","114.001689|22.606077","114.002803|22.605043","114.003234|22.604709","114.003342|22.604009","114.003019|22.603475","114.001941|22.602607","114.001689|22.602341","114.001582|22.600639","114.001618|22.598904","114.001689|22.59847","114.003019|22.598337","114.004744|22.59837","114.006145|22.598737","114.009127|22.600672","114.01211|22.602607","114.01211|22.602607"]}
            ];
            //向地图中添加线函数
            function addPolyline(){
              for(var i=0;i<plPoints.length;i++){
                var json = plPoints[i];
                var points = [];
                for(var j=0;j<json.points.length;j++){
                  var p1 = json.points[j].split("|")[0];
                  var p2 = json.points[j].split("|")[1];
                  points.push(new BMap.Point(p1,p2));
                }
                var line = new BMap.Polyline(points,{strokeStyle:json.style,strokeWeight:json.weight,strokeColor:json.color,strokeOpacity:json.opacity});
                map.addOverlay(line);
              }
            }
            initMap();//创建和初始化地图
          </script>
        </div>
      </div>
    </div>
</div>

{% endblock %}
