{% extends "topnav.html" %}

{% block content%}

<div class="employment">
   <div class="contentArea employment">
      <div class="container">
        <div class="row-fluid">
          <h1>招贤纳士</h1>
          <hr class="first"/>
		  {% for i in employment_list %}
          <p>{{i.text}}</p>
          <p><a href="http://{{i.detail_url}}">[PD]</a><a href="https://{{i.apply_url}}">Apply</a></p>
		 <hr/>
		 {% endfor %}
        </div>
      </div>
    </div>
</div>

{% endblock %}
