{% extends "topnav.html" %}

{% block content%}

<div class="index">
	<div id="myCarousel" data-ride="carousel" class="carousel slide">
      <div class="container">
        <div role="listbox" class="carousel-inner">
          {% for image in image_list %}
          <div class="item active"><img src="{{image.img.url}}" class="first-slide">
          {% endfor %}
            <div class="carousel-caption">
              <h2>数学系战略研讨会成功举行</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="scrollbar">
      <div class="container">
        <div class="row">
          <div class="col-sm-6"><img src="/static/img/index/news.png">
            <h2>新闻信息</h2>
            <div class="news-list">
			{% for i in news_list %}
              <p><span class="time">{{i.date}}</span><a href="http://{{i.url}}" class="content">{{i.title}}</a></p>
			{% endfor %}
              <p><a class="more" href="/news">更多......</a></p>
            </div>
          </div>
          <div class="col-sm-6"><img src="/static/img/index/notice.png">
            <h2>讲座通知</h2>
            <div class="news-list">
			{% for j in lecture_list %}
              <p><span class="time">{{j.date}}</span><a href="http://{{j.url}}" class="content">{{j.title}}</a></p>
			{% endfor %}
              <p><a class="more" href="/academic">更多......</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
