{% extends "topnav.html" %}

{% block content%}

<div class="math_bachelor">
   <div class="math-bachelor">
      <div class="container">
        <h2>本科生培养</h2>
        <hr>
        <h3>金融数学专业课程设置</h3>
        <ul class="nav nav-tabs row">
          <li class="active col-sm-4"><a href="#tab1" data-toggle="tab">通识选修课</a></li>
          <li class="col-sm-4"><a href="#tab2" data-toggle="tab">专业必修课</a></li>
          <li class="col-sm-4"><a href="#tab3" data-toggle="tab">专业选修课</a></li>
        </ul>
        <p>通识选修课</p>
        <div class="tab-content">
          <div id="tab1" class="tab-pane fade active in table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td rowspan="2">课程类别</td>
                  <td rowspan="2">课程编号</td>
                  <td rowspan="2">课程名称</td>
                  <td rowspan="2">考试/查</td>
                  <td rowspan="2">总学分</td>
                  <td rowspan="2">其中实验分</td>
                  <td colspan="8">各学期周学时分配</td>
                  <td rowspan="2">备注</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="3">通识通修课</td>
                  <td>GE100</td>
                  <td>军事理论与训练 Military Theory and Training</td>
                  <td>查</td>
                  <td>2</td>
                  <td>1</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>开学前</td>
                </tr>
                <tr>
                  <td>PHY101</td>
                  <td>大学物理I，II General Physics I</td>
                  <td>试</td>
                  <td>4</td>
                  <td></td>
                  <td>4</td>
                  <td>4</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>开学前</td>
                </tr>
                <tr>
                  <td>GE105</td>
                  <td>计算机程序设计基础,II Basics of Computer Programming Design</td>
                  <td>试</td>
                  <td>3</td>
                  <td>1</td>
                  <td>4</td>
                  <td>4</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="tab2" class="tab-pane fade">
            <p>第二页</p>
          </div>
          <div id="tab3" class="tab-pane fade">
            <p>第三页</p>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
