{% extends "topnav.html" %}

{% block content%}

<div class="math_master">
   <div class="math-master">
      <div class="container">
        <div class="row-fluid">
          <h2>研究生培养</h2>
          <hr>
		  {% for i in  math_master_list %}
		  <p>{{ i.text }}</p>
		  {% endfor %}
        </div>
      </div>
    </div>
</div>

{% endblock %}
