{% extends "topnav.html" %}

{% block content%}

<div class="math_academics">
   <div class="math_academics">
      <div class="container table-responsive">
        <h2>学术科研</h2>
        <hr>
        <h3>研究方向</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <td></td>
              <td>姓名</td>
              <td>性别</td>
              <td>专业技术职务</td>
              <td>毕业学校、学位</td>
              <td>研究方向</td>
            </tr>
          </thead>
          <tbody>
		  {% for i in basic_math_list %}
            <tr>
              <td>基础数学</td>
              <td>{{i.name}}</td>
              <td>{{i.sex}}</td>
              <td>{{i.job_title}}</td>
              <td>{{i.degree}}</td>
              <td>{{i.research_direction}}</td>
            </tr>
			{% endfor %}
			{% for j in apply_math_list %}
            <tr>
              <td>计算与应用数学</td>
              <td>{{j.name}}</td>
              <td>{{j.sex}}</td>
              <td>{{j.job_title}}</td>
              <td>{{j.degree}}</td>
              <td>{{j.research_direction}}</td>
            </tr>
			{% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}
