{% extends "topnav.html" %}

{% block content%}

<div class="news">
   <div class="contentArea news">
      <div class="container">
        <div class="row-fluid">
          <h1>数学系新闻</h1>
          <hr class="first"/>
		  {% for i in news_list %}
          <div class="row">
            <div class="col-sm-3 newsimg"><img src="{{i.img.url}}"/></div>
            <div class="col-sm-9">
              <p class="newsdate">{{i.date}}</p>
              <p class="newstitle"><a href="http://{{i.url}}">{{i.title}}</a></p>
              <p class="newsinfo">{{i.text}}</p>
            </div>
          </div>
          <hr/>
		  {% endfor %}
          <div class="row">
            <div class="col-sm-12">
                       <p>
			{% if news_list.has_previous %}
			  <a href="?page={{ news_list.previous_page_number }}"> <&nbsp;上一页 </a>
   			  {% endif %}
		      {# news_list.paginator.number_pages 返回总页数 #}
			  第 {{ news_list.number }} 页  &nbsp;  {% for page_number in news_list.paginator.page_range %}
			                                    {% ifequal page_number news_list.number %}
							                      {{ page_number }}
											    {% else %}
												  <a href="?page={{ page_number }}">{{ page_number }}</a>
									            {% endifequal %}
										      {% endfor %}  &nbsp; 共 {{ news_list.paginator.num_pages }} 页
			{% if news_list.has_next %}
			  <a href="?page={{ news_list.next_page_number }}">下一页&nbsp;></a>
			{% endif %}
			</p>

          </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
