{% extends "topnav.html" %}

{% block content%}

<div class="personnel">
	<div class="contentArea teachers">
      <div class="container">
        <div class="row-fluid">
          <h1>人员构成</h1>
          <hr/>
          <ul id = "nav_ul" class="nav nav-tabs row">
            <li onclick="changeActive(this)" class="active col-sm-4"><a href="#tab1">主任</a></li>
            <li onclick="changeActive(this)" class="col-sm-4"><a href="#tab2">教授</a></li>
            <li onclick="changeActive(this)" class="col-sm-4"><a href="#tab3">教学人员</a></li>
          </ul>
          <div class="tab-content">
            <div id="tab1">
              <h2>主任</h2>
              <div class="row">
			  {% for i in director_list %}
                <div class="col-sm-6">
                  <div class="col-sm-5"><img src="{{i.img.url}}"/></div>
                  <div class="col-sm-7">
                    <p class="teachers_name">{{i.name}}</p>
                    <p>{{i.job_title}}</p>
                    <p>{{i.position}}</p>
                    <p>{{i.dpartment}}</p>
                    <p>电话:&#12288;&#12288;{{i.phonenbr}}</p>
                    <p>办公室:&#12288;{{i.office_adress}}</p>
                    <p>邮箱:&#12288;&#12288;{{i.email}}</p>
                    <p>个人主页:&#12288;{{i.personal_website}}</p>
                  </div>
                </div>
			  {% endfor %}
	      </div>          
            </div>
            
            <div id="tab2">
              <h2>教授</h2>
              <div class="row">
			  {% for j in prefessor_list %}
                <div class="col-sm-6">
                  <div class="col-sm-5"><img src="{{j.img.url}}"/></div>
                  <div class="col-sm-7">
                    <p class="teachers_name">{{j.name}}</p>
                    <p>{{j.position}}</p>
                    <p>{{j.dpartment}}</p>
                    <p>电话:&#12288;&#12288;{{j.phonenbr}}</p>
                    <p>办公室:&#12288;{{j.office_adress}}</p>
                    <p>邮箱:&#12288;&#12288;{{j.email}}</p>
                    <p>个人主页:&#12288;{{j.personal_website}}</p>
                  </div>
                </div>
			  {% endfor %}
	      </div>           
 	    </div>
            
            <div id="tab3">
              <h2>教学人员</h2>
              <div class="row">
			  {% for m in teach_staff_list %}
                <div class="col-sm-6">
                  <div class="col-sm-5"><img src="{{m.img.url}}"/></div>
                  <div class="col-sm-7">
                    <p class="teachers_name">{{m.name}}</p>
                    <p>{{m.job_title}}</p>
                    <p>{{m.position}}</p>
                    <p>{{m.dpartment}}</p>
                    <p>电话:&#12288;&#12288;{{m.phonenbr}}</p>
                    <p>办公室:&#12288;{{m.office_adress}}</p>
                    <p>邮箱:&#12288;&#12288;{{m.email}}</p>
                    <p>个人主页:{{m.website}}</p>
                  </div>
                </div>
			  {% endfor %}
              </div>
            </div>
	  </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
      function changeActive(obj){
        $(obj).siblings().removeClass("active");
        $(obj).addClass("active");
      }
      window.onscroll = function(){
        var ww = $("#nav_ul").width();
        var t = document.documentElement.scrollTop || document.body.scrollTop;
        if( t >=($(".header-nav").height()+50)) {
          $("#nav_ul").addClass("top_ul");
          $("#nav_ul").css("width",ww)
        }
        else{
          $("#nav_ul").removeClass("top_ul");
        }
      }
</script>
{% endblock %}
